{% extends "base.html" %}

{% block content %}
<style>
.button {
  align:center;
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2b78e4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: blue}

.button:active {
  background-color: #0918fa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<br>
<br>
<br>
<br>
<br>
<h1 align = "center" style="font-family:courier;">
<span style="color:black;">Find your investment</span>
<span style="color:#2b78e4;"> strategy</span>
<span style="color:black;">today</span>
</h1>
<br>
<br>
<br>
<div style="text-align:center;">
<button class="button">Begin</button>
</div>
<br><br>
<br><br>
<br><br>
<hr>



{% endblock %}
